# ─── Copia este archivo como .env y rellena tus valores ──────────────────────

# Base de Datos (PostgreSQL)
DATABASE_URL=postgresql+psycopg://usuario:password@localhost:5432/smartparku

# Seguridad JWT
SECRET_KEY=cambia_esto_por_una_clave_secreta_larga_y_aleatoria
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# MQTT - HiveMQ Cloud
MQTT_BROKER=tu_broker.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=tu_usuario_mqtt
MQTT_PASSWORD=tu_password_mqtt
